<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.backend.board.mapper.BoardMapper">

    <resultMap id="BoardResultMap" type="com.board.backend.board.domain.Board">
        <id property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writer" column="writer"/>
        <result property="viewCount" column="view_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="save">
        INSERT INTO boards (
            title,
            content,
            writer,
            member_id
        ) VALUES (
            #{request.title},
            #{request.content},
            (SELECT nickname FROM members WHERE id = #{memberId}),
            #{memberId}
        )
    </insert>

    <select id="findAll" resultMap="BoardResultMap">
        SELECT
            b.id,
            b.member_id,
            b.title,
            b.content,
            COALESCE(m.nickname, b.writer) AS writer,
            b.view_count,
            b.created_at,
            b.updated_at
        FROM boards b
        LEFT JOIN members m ON b.member_id = m.id
        ORDER BY b.id DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM boards
    </select>

    <select id="findById" parameterType="long" resultMap="BoardResultMap">
        SELECT
            b.id,
            b.member_id,
            b.title,
            b.content,
            COALESCE(m.nickname, b.writer) AS writer,
            b.view_count,
            b.created_at,
            b.updated_at
        FROM boards b
        LEFT JOIN members m ON b.member_id = m.id
        WHERE b.id = #{id}
    </select>

    <update id="update">
        UPDATE boards
        SET
            title = #{request.title},
            content = #{request.content},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM boards
        WHERE id = #{id}
    </delete>

    <update id="increaseViewCount" parameterType="long">
        UPDATE boards
        SET view_count = view_count + 1
        WHERE id = #{id}
    </update>

</mapper>
